/*
Justify is for columns
allign is for rows
middle
center
end
start
stretch(default) */

.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  justify-items:stretch;
  align-items:stretch;

}

.wrapper > div:nth-child(odd){
  background: green;
}

.wrapper > div:nth-child(even){
  background: red;
}

body{
  background: black;
}
.box1{
  /* align-self: start; */
  grid-column: 1/3;
  grid-row: 1/3;
}
.box2{
  /* align-self: end; */
  grid-column: 3;
  grid-row: 1/3;
}
.box3{
  /* justify-self: center; */
  grid-column: 2/4;
  grid-row: 3;
}
.box4{
  /* align-self: center; */
  grid-column: 1;
  grid-row: 2/5;
  border: 3px solid;
  border-color: purple;
}
