{% extends "fileshare/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div id="2x3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">

				<thead>
                                <th>Group</th>
                                <th>Creator</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>

                            </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uploaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Downloaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Free Space</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total File size</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uploaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Downloaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Free Space</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total File size</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uploaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Downloaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Free Space</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total File size</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uploaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Downloaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Free Space</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total File size</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background: #8bbdd9c0;">
                        <h6 class="font-weight-bold m-0" style="color: #03254c;">Projects</h6>
                    </div>
                    <div class="card-body" style="background: rgba(228,240,246,0.75);">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Uploaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Downloaded Files</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Free Space</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Total File size</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
